﻿.jcarousel-wrapper {
    margin: 20px auto;
    position: relative;
    width: 600px;
}

/** Carousel **/



.jcarousel {
    position: relative;
    overflow: hidden;
    width: 600px;
    height: 120px;
}

.jcarousel ul {
    width: 20000em;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}

.jcarousel li {
    display: inline-block;
    width: 100px;
    display: table-cell;
    vertical-align: bottom;
    height: 120px;
}

/** Carousel Controls **/

.jcarousel-control-prev,
.jcarousel-control-next {
    position: absolute;
    top: 0px;
    width: 36px;
    height: 96px;
    text-align: center;
    color: #fff;
    text-decoration: none;
}

.jcarousel-control-prev {
    left: -65px;
}

.jcarousel-control-next {
    right: -10px;
}

.jcarousel-control-prev:hover span,
.jcarousel-control-next:hover span {
    display: block;
}

.jcarousel-wrapper a span {
    color: #00b8e6;
    font-size: 2.5em;
    position: absolute;
    top: 40%;
}

.jcarousel-control-prev.inactive,
.jcarousel-control-next.inactive {
    opacity: .5;
    cursor: default;
}

/** Carousel Pagination **/

.jcarousel-pagination {
    position: absolute;
    bottom: 0;
    left: 15px;
}

.jcarousel-pagination a {
    text-decoration: none;
    display: inline-block;
    font-size: 11px;
    line-height: 14px;
    min-width: 14px;
    background: #fff;
    color: #4E443C;
    border-radius: 14px;
    padding: 3px;
    text-align: center;
    margin-right: 2px;
    opacity: .75;
}

.jcarousel-pagination a.active {
    background: #4E443C;
    color: #fff;
    opacity: 1;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.75);
}
