﻿<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - My ASP.NET MVC Application</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/clc-carousel.css")
        @Styles.Render("~/Content/bootstrap-glyphicons.min.css");
        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryui")
        @Scripts.Render("~/bundles/js")
        @Scripts.Render("~/Scripts/jcarousel.min.js")
    </head>
    <body>        
        @RenderBody()
        @RenderSection("scripts", required: false)
        
    </body>
</html>
