<div class="wrapper">
    <div class="jcarousel-wrapper">
        <div class="jcarousel">
            <ul class="carousel-container" role="listbox"></ul>
        </div>
        <a href="javascript:void();" class="jcarousel-control-prev"><span class="glyphicon glyphicon-menu-left"></span></a>
        <a href="javascript:void();" class="jcarousel-control-next"><span class="glyphicon glyphicon-menu-right"></span></a>
    </div>
</div>
<script type="text/javascript" src="https://carousels.clcohio.org/home/jsonp?callback=callback&rsid=34726&ctx=81"></script>
